.statement-large {
  font-family: $font-primary;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;

  @include breakpoint($bulma) {
    font-size: 2.5em;
  }
}

.add-emphasis {
  text-decoration: underline;
}

.statement.hero {
  &.is-fullheight {
    min-height: calc(100vh - 75px -6rem);
  }
}

h1.title {
  .title-standard {
    background: rgba($color-bg-dark,0.7);
  }
  .title-emphasis {
    background: rgba($color-bg-dark,0.7);
    font-style: italic;
  }
}

.statement {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;

  @include breakpoint($sm) {
    padding-top: 110px;
    padding-bottom: 40px;
  }

  .statement-body {
    font-size: 28px;

    @include breakpoint($sm) {
      font-size: 35px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .statement-emphasis {
    font-size: 42px;
    color: $color-emphasis;

    @include breakpoint($sm) {
      font-size: 55px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
