.container {
  padding: 0 20px;
}

body.modal-open {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

html {
  overflow: visible !important;
}

.desktop-reduced {
  @include breakpoint($sm) {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }  
}