html, body {
  font-family: $font-primary;
  color: $color-text;

  a, a:link {
    color: $color-emphasis;
    transition: color 0.2s;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-secondary;
    color: $color-emphasis;
  }

  h1,
  h2 {
    font-weight: bold;
  }

  h1 {
    font-family: $font-secondary;
    font-size: 28px;
    margin-top: 40px;

    @include breakpoint($sm) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 20px;
    margin-top: 10px;

    @include breakpoint($sm) {
      font-size: 34px;
    }
  }

  h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: $color-bg-2;
    font-family: $font-glacial;
    letter-spacing: 0.25em;
    margin-bottom: 5px;
  }


  p {
    font-size: 20px;
    font-family: $font-primary;
  }
  
  p, div, input, textarea, button, select {
    font-family: $font-primary;
    line-height: 1.38;
    color: $color-bg-dark;
  }

}
